/* boilarplate style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    width: 100%;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* Navbar styling */
.nav{
    height: 80px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 5px 50px;

}
.nav-h1 span{
    color: palegreen;
}
.nav-options .home{
   color:palegreen;

}
.nav-options .home:hover{
   color: black;
   border-bottom : 4px solid palegreen;
 
 }

.nav-options a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    margin-left: 40px;
    font-weight: 600;
}

.nav-options a:hover{
    
    color:palegreen;
    border-bottom : 4px solid black;
}

.nav-btn button{
    height: 40px;
    width: 150px;
    background-color: black;
    border-radius: 10px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    color: palegreen;
}

.nav-btn button:hover{

background-color: palegreen;
color: black;
  
}

/* Main Section */

.main{
    height: 700px;
    width: 100%;
    display: flex;
}

.main-left{
    height: 700px;
    width: 50%;
    
}

.main-left-1{
    padding-left: 50px;
    padding-top: 225px;
    padding-bottom: 5px;
    
    
}

.main-left-h1{
    color: palegreen;
    font-size: 25px;
    
}

.main-left-para{
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
}

.main-right{
    height: 500px;
    width: 50%;
   
}

/* button Resume Download*/
.main-left-btn{
    padding-top: 10px;
      
}
.main-left-btn button{
    height: 50px;
    width: 200px;
    background-color: black;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: palegreen;
    font-size: 15px;
    font-weight: 500;
}

.main-left-btn a{
    
    text-decoration: none;
    color: palegreen;

}

.main-right-myimage{
    height: 550px;

    padding-top: 70px;
}

/* about me  */

.about{
    height: 600px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}

/* About me left section */
.about-left{
    height: 600px;
    width: 50%;
    /* background-color: bisque; */
    padding-left: 60px;
    padding-top: 50px;
    padding-right: 50px;
}

.about-left-h1{
    color: palegreen;
    /* border-bottom : 4px solid black; */
    /* display: inline-block;           Restricts the border width to text area */
}
.about-left-para{
    padding-top: 15px;
    font-size: 20px;
    color: #333;/* Dark gray text color */
    /* background-color: #f9f9f9; Light background for contrast */
    
}

.about-left-para span{
    color: palegreen;
}

/* About me right section */
.about-right{
    height: 600px;
    width: 50%;
    /* background-color: red; */
    padding-left: 60px;
    padding-top: 50px;
    padding-right: 50px;
    
}
.about-right-h1{
    color: palegreen;
}
